<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
       http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

       <!-- 启动注解驱动的Spring MVC功能，注册请求url和注解POJO类方法的映射-->
       <mvc:annotation-driven />
       <!-- 启动包扫描功能，以便注册带有@Controller、@Service、@repository、@Component等注解的类成为spring的bean -->
       <context:component-scan base-package="com.market" />

       <!-- 通过默认servlet访问静态资源  详情：http://www.cnblogs.com/dflmg/p/6393416.html -->
       <mvc:default-servlet-handler />

       <!-- JSP视图配置 -->
       <!--
       <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
              <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
              <property name="prefix" value="/WEB-INF/jsp/"/>
              <property name="suffix" value=".jsp"/>
       </bean>
       -->

       <!-- velocity视图配置 -->
       <bean id="velocityConfig" class="org.springframework.web.servlet.view.velocity.VelocityConfigurer">
              <property name="resourceLoaderPath" value="/WEB-INF/vm/" />
       </bean>

       <bean class="org.springframework.web.servlet.view.velocity.VelocityViewResolver">
              <property name="suffix" value=".vm" />
       </bean>

</beans>
