<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>赚钱小窗口！！！</title>
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="/bootstrap/css/bootstrap-theme.css" rel="stylesheet">
</head>
<body>
<div class="container theme-showcase" role="main">
    <div class="row">&nbsp;</div>
    <div class="row"></div>
    <div class="row"></div>
    <div class="row">
        <pre>
            倾家荡产四大捷径：1，追涨杀跌；2，期货杠杆；3，融资融币；4，短线神操作。
            人生巅峰四条大道：1，踏实工作；2，闲钱投资；3、长线持有；4，按时吃饭睡觉。
                                                ————币界生存法则，非绝世高手不得无视。
                            （币界十天江湖十年，凶残程度古今罕有，谨记生存法则可保不死）<img src="//img.t.sinajs.cn/t4/appstyle/expression/ext/normal/b6/doge_org.gif" /><img src="//img.t.sinajs.cn/t4/appstyle/expression/ext/normal/b6/doge_org.gif" /></pre>
    </div>
    <div class="row"></div>

    <div class="row" id="content">
        #*<div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">SNT</h3>
                </div>
                <div class="panel-body">
                    <table style="width: 100%">
                        <tr>
                            <td>平台</td>
                            <td>买一</td>
                            <td>卖一</td>
                        </tr>
                        <tr>
                            <td>比特儿</td>
                            <td>0.5</td>
                            <td>0.35</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>*#


    </div>
</div>
<script src="/etchain/ETChain_ICO_files/jquery-3.2.1.js"></script>
</body>
<script>
    $.ajax({
        url:"/coin/price",
        type:"get",
        success:function(data){
            var html = '';
            for(var key in data) {
                html += appendHtml(key, data[key]);
            }
            $('#content').html(html);
        }
    })

    function appendHtml(key, array) {
        var html = [];
        html.push('<div class="col-sm-4">');
        html.push('    <div class="panel panel-primary">');
        html.push('	    <div class="panel-heading">');
        html.push('	        <h3 class="panel-title">'+ key + '</h3>');
        html.push('	    </div>');
        html.push('	    <div class="panel-body">');
        html.push('	        <table style="width: 100%">');
        html.push('		        <tr>');
        html.push('		            <td>平台</td>');
        html.push('		            <td>价格</td>');
        html.push('		            <td>卖一价/数量</td>');
        html.push('		            <td>买一价/数量</td>');
        html.push('		        </tr>');
        for(var i=0;i<array.length;i++) {
            var coinInfo = array[i];
            html.push('		        <tr>');
            html.push('		            <td>' + coinInfo.platform + '</td>');
            html.push('		            <td>' + coinInfo.coinPriceVO.coinPrice + '</td>');
            html.push('		            <td>' + coinInfo.coinPriceVO.sellFirstPrice + '/' + coinInfo.coinPriceVO.sellFirstCount + '</td>');
            html.push('		            <td>' + coinInfo.coinPriceVO.buyFirstPrice + '/' + coinInfo.coinPriceVO.buyFirstCount + '</td>');
            html.push('		        </tr>');
        }
        html.push('	        </table>');
        html.push('	    </div>');
        html.push('    </div>');
        html.push('</div>');
        return html.join('');
    }
</script>
</html>